.dailyTask{
  margin: 0px;
  margin-top: 5px;
}

.addTask_daily{
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
  width: auto;
  height: 50px;
  border-radius: 10px;
  transition: background-color .5s;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(134, 171, 240);
  color: aliceblue;
  margin-right: 30px;
  margin-left: 30px;
}

.addTask_daily:hover{
  background-color: #fac1b98f;
  color: red;
}

.add_dropdown{
  transition: visibility .5s;
  width: 400px;
  margin-left: 30px;
}

.taskEntry{
  background: linear-gradient(#f8ff97, #e5d691);
  border-radius: 10px;
  width: 400px;
  height: 100px;
}


.input-field{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(255, 216, 166);
  margin-left: 30px;
}

.input-field:focus {
    outline: none;
    border-bottom-style: groove;
  }

.add-button{
  margin-left: 10px;
}