.dailyTask{
    margin-left: 10px;
}

.addTask_daily{
  margin-top: 10px;
  margin-left: 10px;
}

.input-field{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
}

.input-field:focus {
    outline: none;
    border-bottom-style: groove;
  }

.add-button{
  margin-left: 10px;
}