.taskCard{
    margin: 0px;
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Antic Slab', serif;
}

.content{
    width: 400px;
}

.taskCard:hover{
    background-color: bisque;
    cursor: pointer;
}

p{
    margin: 0px;
    padding: 0px;
}

.card-title{
    font-size: 18px;
    font-weight: bolder;
}

.card-description{
    font-size: 15px;
}

.button-done{
    margin-left: 50px;
}
