.journieHome{
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.dash-box1{
    color: rgb(0, 0, 0);
    background: rgb(254,232,218);
    background: linear-gradient(90deg, rgb(250, 232, 220) 18%, rgb(255, 220, 199) 100%);
    border-radius: 20px;
    height: 120px;
    width: auto;
    padding: 20px;
}

.dash-date{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-weight: bolder;
}

.dash-welcome{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.user-name{
    color: crimson;
    font-weight: bolder;
}

.journal-button{
    font-size: 50px;
    margin-left: auto;
}

.dash-box2{
    color: rgb(0, 0, 0);
    background: rgb(254,232,218);
    background: linear-gradient(90deg, rgb(250, 232, 220) 18%, rgb(255, 220, 199) 100%);
    border-radius: 20px;
    height: auto;
    width: 400px;
    padding: 20px;
    margin-top: 10px;
}

.dash-box2-title{
    font-size: 30px;
    font-weight: bolder;
}

.bar{
    text-align: left;
}

.bar-daily{
    width: 60%;
    border: 5px solid rgb(255, 182, 23);
    border-radius: 5px;
    color: rgb(255, 182, 23);
}

.bar-today{
    width: 70%;
    border: 5px solid red;
    border-radius: 5px;
}

.bar-schedule{
    width: 40%;
    border: 5px solid green;
    border-radius: 5px;
}



.dash-box3{
    color: rgb(0, 0, 0);
    background: rgb(254,232,218);
    background: linear-gradient(90deg, rgb(250, 232, 220) 18%, rgb(255, 220, 199) 100%);
    border-radius: 20px;
    height: auto;
    width: 400px;
    padding: 20px;
    margin-top: 10px;
}

.dash-box3-title{
    margin: 5px;
    font-size: 30px;
    font-weight: bolder;
}