.journieHome{
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

.dash-box1{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 120px;
    width: auto;
    padding: 20px;
}

.dash-date{
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-weight: bolder;
}

.dash-welcome{
    font-size: 25px;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

.user-name{
    color: crimson;
    font-weight: bolder;
}

.journal-button{
    font-size: 30px;
    font-weight: 900;
    margin-left: auto;
    background-color: rgb(245, 176, 73);
    color: white;
    padding: 25px;
    border-radius: 10px;

}

.dash-box2{
    margin-left: 20px;
    width: 282px;
    height: 100px;
    background-color: rgba(245, 176, 73, 0.411);
    border-radius: 10px;
    padding: 20px;

}

.task-content{
    color: rgb(0, 0, 0);
}

.task-data-title{
    font-size: 30px;
}

.task-data{
    font-size: 20px;
}

.dashboard-data{
    margin-left: 20px;
}

.dash-box3{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    width: 240px;
    height: 640px;
    background-color: rgba(238, 221, 197, 0.267);
    border-radius: 10px;
    padding: 20px;
}

.walk-counter-title{
    font-size: 30px;
    margin-bottom: 20px;
}

.productivity-score{
    width: 70%;
}


.dash-box3-box{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    margin-top: 20px;
}

.dash-box3-weather{
    background-color: rgb(71, 184, 250);
}

.dash-box3-steps{
 background-color: crimson;
}

.dash-box3-productivity{
    background-color: darkorange;
}

.count{
    font-size: 70px;
    font-weight: bolder;
    color: aliceblue;
    margin: 10px;
}

.title{
    font-size: 30px;
    font-weight: bolder;
    color: aliceblue;
    margin: 10px;
}
