.header{
    display: grid;
    grid-template-columns: [side_bar]16% 
                           [display] 35% 
                           [visual-end] auto 
                           [dash-end] 10% [final];
    grid-template-rows: [header]15%
                        [header-end] 20% 
                        [column1-end]20%
                        [column2-end] 20%
                        [column3-end] auto [end-column];

    font-family: 'Ubuntu', sans-serif;
}

.curr-date{
    color: rgb(32, 145, 221);
}
.logo-section{
    grid-column-start: side_bar;
    grid-column-end: display;
    grid-row-start: header;
    grid-row-end: header-end;
}

.menu-options{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.menu-op1{
    margin-top: 200px;
}

.menu-options:hover {
    color: #1e62ff;
}

.view-bar{
    padding: 20px;
    border-radius: 50px;
    grid-column-start: display;
    grid-column-end: visual-end;
    grid-row-start: header;
    grid-row-end: end-column;
    background-color:#E8ECF5;
}

.day-schedule{
    grid-column-start: visual-end;
    grid-column-end: final;
    grid-row-start: header-end;
    grid-row-end: column2-end;
    margin-left: 50px;
}

ul{
    list-style-type: none;
}

.entry1, .entry2, .entry3{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.entry1{
    background-color:#082FFC;
}

.entry2{
    background-color:#ff6600;
}

.entry3{
    background-color: #A436FC;
}

.profile-info{
    padding: 30px;
    grid-column-start: dash-end;
    grid-column-end: final;
    grid-row-start: header;
    grid-row-end: header-end;
}


.profile-info{
    display: flex;
}

.day{
    font-size: 40px;
}

.sub-text{
    color: gray;
}


