.home-bg{
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #1d1e38;
    margin: 0px;
    padding: 0px;
}

.menu-bar{
    margin-left: 30px;
    margin-top: 30px;
}

.header{
    margin: 0px;
    padding: 0px;
}

.heading{
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}


.menu{
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;
    
}

.menu-op{
    margin:0px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.settings{
    margin-top: 455px;
}

.app-disp{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
    width: 90%;
    height: auto;
    background-color: #ffe5d5;
    border-radius: 30px;
}

.in-cont1{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 730px;
    border-radius: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.curr-date{
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.in-cont1-menu{
    display: flex;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.in-cont1-op{
    margin-left: 10px;

}

.in-cont2{
    width: 70%;
    height: 730px;
    border-radius: 15px;
    border-top-right-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    overflow:scroll
}

